/types/project/project/
/types/project/target/
/types/target/

/utils/project/project/
/utils/project/target/
/utils/target/

/naturalTransformation/project/project/
/naturalTransformation/project/target/
/naturalTransformation/target/

/programSyntax/project/project/
/programSyntax/project/target/
/programSyntax/target/

/programSemantics/project/project/
/programSemantics/project/target/
/programSemantics/target/

/programUtils/project/project/
/programUtils/project/target/
/programUtils/target/

/programInstances/project/project/
/programInstances/project/target/
/programInstances/target/

/programSemanticsInstances/project/project/
/programSemanticsInstances/project/target/
/programSemanticsInstances/target/

/programRunners/project/project/
/programRunners/project/target/
/programRunners/target/

/programExampleUtils/project/project/
/programExampleUtils/project/target/
/programExampleUtils/target/

/programExamples/project/project/
/programExamples/project/target/
/programExamples/target/

/mainExampleUtils/project/project/
/mainExampleUtils/project/target/
/mainExampleUtils/target/

/mainExamples/project/project/
/mainExamples/project/target/
/mainExamples/target/

